body{
    background-color: #DB6FC3;
    margin: 0;
}


footer{
    background-color: #291528;
}

.nav-item-img{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 80px;
    margin: 0;
}

.Navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-evenly;
    row-gap: 10px;
    background-color: #291528;
    padding: 10px;
    margin-bottom: 10px;
}

.nav-item{
    background-color: #291528;
    margin-left: 20px;
}

.nav-item a{
    margin-top: 20px;
    margin-right: 20%;
    background-color: #291528;
    text-decoration: none;
    color: #F7E5EE;
    font-size: large;
}



#princ1 img{
    height: 50px;
}

#princ2 img{
    height: 50px;
}

